html, body {
    margin: 0;
    padding: 0;
}

.spain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 175px;
    background-color: #ff0000;
    border: 1px solid #808080;
    &__yellow {
        width: 100%;
        height: 80px;
        background-color: #fffb00;
    }
}

.denmark {
    width: 250px;
    height: 175px;
    background-color: #ff0000;
    border: 1px solid #808080;
    &__flex {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    &__white-y {
        width: 10px;
        height: 100px;
        background-color: yellow;
    }
    &__white-x {
        width: 10px;
        height: 10px;
        background-color: green;
    }
}

.uae {
    width: 250px;
    height: 175px;
    border: 1px solid #808080;
    &__row_2 {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-self: flex-start;
    }
        &__red {
            width: 50px;
            height: 175px;
            background-color: red;
        }
    &__row {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
        &__green {
            width: 80%;
            height: 58.3px;
            background-color: green;
        }
        &__white {
            width: 80%;
            height: 58.3px;
            background-color: white;
        }
        &__black {
            width: 80%;
            height: 58.3px;
            background-color: black;
        }
}

.japan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 175px;
    background-color: #ffffff;
    border: 1px solid #808080;
    &__red {
        width: 80px;
        height: 85px;
        border-radius: 40px;
        background-color: red;
    }
}